{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "curly": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "warn",
    "no-debugger": "warn",
    "operator-linebreak": "off",
    "padded-blocks": "warn",
    "no-unused-vars": "warn"
  },
  "extends": [
    "eslint:recommended", "google"
  ]
}
