$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$db-header-height: 64px;

$info-cell-width: 40px;
$cell-width: 120px;
$min-cell-width: 40px;

$border-color: #c0c0c0;
$cell-border-color: #e2e3e3;

$table-info-cell-color: #f8f9fa;
